Source: ndsmusicplayer
Section: unknown
Priority: extra
Maintainer: Jesse N. Richardson <jesse@unknown>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/ndsmusicplayer.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ndsmusicplayer.git;a=summary

Package: ndsmusicplayer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
