#!/usr/bin/make

configure: configure-stamp
configure-stamp:
	dh_testdir
build: build-stamp

build-stamp: config.status
	dh_testdir
	$(MAKE)
	touch $@

clean:
	make clean
	dh_clean

install: build
	dh_testdir
	dh_testroot

	make install

.PHONY: build clean install